body{
  min-width:360px;

}
.chat-box{
  padding:1rem;
  display:flex;
  justify-content:center;
  gap:1rem;
  background:rgb(20 20 24);
  input{
    outline:none;
  }
  &>button{
    height:2rem;
    width:2rem;
    padding:5px;
    background:#2912cc;
    border:none;
    cursor: pointer;
  }
  &>button:hover{
    background:#4731e3;
  }
}
.nav-bar{
  position: absolute;
  top:0px;
  height:2rem;
  width:100vw;
  display:flex;
  color:#fff;
font-weight:bold;
font-size:1.2rem;
padding:1rem;
}
#history-btn{
  cursor: pointer;
}
#hisory-tab{
  position:absolute;
  top:0px;
  left:0px;
  height:100vh;
  background:white;
  width:50vw;
  max-width:400px;
  min-width:250px;
  transition:all 250ms ease-in-out;
}
.chat-hidden{
  transform:translateX(-100%)
}
